HEALTH_PROBE_BIND_ADDRESS=:8081
REGISTRY_HOST=kind-registry:5000
INGRESS_CLASS=nginx
BASE_DOMAIN=localtest.me
AVAILABLE_DOMAINS=localtest.me
GITHUB_PRIVATE_KEY_PATH=/etc/maxicloud/github/private-key.pem
ADDR=:8080

# 開発環境用
POSTGRESQL_HOST=postgresql
POSTGRESQL_PORT=5432
POSTGRESQL_USER=postgres
POSTGRESQL_PASSWORD=password
POSTGRESQL_DB=maxicloud

# 作成したGitHub Appの情報を入れる
GITHUB_APP_ID=
GITHUB_APP_NAME=
GITHUB_CLIENT_ID=
GITHUB_APP_INSTALLATION_ID=

# OIDC認証設定
OIDC_ISSUER=https://api.id.maximum.vc
OIDC_CLIENT_ID=
OIDC_REDIRECT_URL=http://localhost:8080/auth/callback
STATE_SECRET=
SESSION_SECRET=
